{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid bg-gradient-dark">
  {% if user.is_authenticated %}
  <div class="text-center mt-5">
    <p class="h4">Hi {{ user.username }}!</p>
    <form action="{% url 'analytics' %}" method="post" class="mt-3">
      {% csrf_token %}
      <button class="btn btn-success btn-lg" type="submit">Analytics</button>
    </form>

    <form action="{% url 'manage_posts' %}" method="post" class="mt-3">
      {% csrf_token %}
      <button class="btn btn-primary btn-lg" type="submit">Manage Post</button>
    </form>

    <form action="{% url 'create_post' %}" method="post" class="mt-3">
      {% csrf_token %}
      <button class="btn btn-primary btn-lg" type="submit">Create Post</button>
    </form>

    <form action="{% url 'logout' %}" method="post" class="mt-3">
      {% csrf_token %}
      <button class="btn btn-danger btn-lg" type="submit">Log Out</button>
    </form>
  </div>
  {% else %}
  <div class="text-center mt-5">
    <p class="h4">You are not logged in</p>
    <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">Log In</a>
    <a href="{% url 'signup' %}" class="btn btn-success btn-lg mt-3">Signup</a>
  </div>
  {% endif %}
</div>
{% endblock %}
