{% extends "base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <h1 class="mt-4 " style="font-size: 20px; color: black;">Manage Posts</h1>
    <ul class="list-group mt-4">
        {% for post in posts %}
            <li class="list-group-item">
                <div class="post-info">
                   <span style="font-size: 20px;font-weight: 700; color: black;">{{ post.title }} </span>- Likes: {{ post.likes }}, Shares: {{ post.shares }}, Comments: {{ post.comments }}
                </div>
                <form action="{% url 'delete_post' pk=post.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-2">Delete Post</button>
                </form>
                <form action="{% url 'edit_post' pk=post.pk %}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-2">Edit Post</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}   
